.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: end;
    background: steelblue;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}

.item{
    background-color: grey;
    height:300px ;
    width: 300px;
    margin-left: 6px;
    margin-top: 6px;
}